{% extends "emails/admin_base.html" %}

{% block content %}
<div class="admin-badge">Письмо от Mentora</div>

<div class="greeting">
    Здравствуйте, {{ contact.first_name or 'Уважаемый коллега' }}!
</div>

<div class="message">
    {{ message|safe }}
</div>

{% if contact.profession %}
<div class="info">
    <strong>👨‍⚕️ Ваша профессия:</strong> {{ contact.get_profession_display() if contact.get_profession_display else contact.profession }}
</div>
{% endif %}

{% if contact.nationality %}
<div class="info">
    <strong>🌍 Ваша национальность:</strong> {{ contact.nationality }}
</div>
{% endif %}

{% if action_url %}
<div class="button-center">
    <a href="{{ action_url }}" class="button">{{ action_text or 'Узнать больше' }}</a>
</div>
{% endif %}

<div class="highlight-box">
    <h4>Почему выбирают Mentora?</h4>
    <ul>
        <li><strong>Сертифицированные программы</strong> - официальное признание в Нидерландах</li>
        <li><strong>Гибкое обучение</strong> - онлайн и офлайн форматы</li>
        <li><strong>Поддержка на русском языке</strong> - понимаем ваши потребности</li>
        <li><strong>Практические навыки</strong> - готовим к реальной работе</li>
        <li><strong>Карьерная поддержка</strong> - помощь в трудоустройстве</li>
    </ul>
</div>

<div class="success">
    <strong>📞 Свяжитесь с нами:</strong><br>
    📧 Email: <a href="mailto:info@bigmentor.nl">info@bigmentor.nl</a><br>
    📱 WhatsApp: +31 6 12345678<br>
    🌐 Сайт: <a href="https://www.bigmentor.nl">www.bigmentor.nl</a>
</div>

<div class="info">
    <strong>💡 Хотите узнать больше?</strong> Запишитесь на бесплатную консультацию, 
    и мы расскажем, как Mentora может помочь вам в карьере стоматолога в Нидерландах.
</div>
{% endblock %}
