# --- Виртуальные окружения ---
.venv/
venv/
ENV/
env/
env.bak/
venv.bak/

__pycache__/
*.py[cod]
*$py.class


instance/

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
.webassets-cache/

# --- Логи и Покрытие ---
*.log
logs/
.coverage

# --- Папки IDE и Редакторов ---
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.tmp

# --- Системные файлы OS ---
.DS_Store
Thumbs.db

# --- Секреты ---
# Игнорируем .env файлы на всех уровнях
**/.env
# config.py игнорируем, ТОЛЬКО если там секреты. Если нет - закомментируй.
secrets.py
credentials.*

