<svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
   <defs>
     <ellipse id="petal" cx="25" cy="50" rx="15" ry="7" fill="#3ECDC1">
       <animate attributeName="rx" values="15;17;15" dur="2s" repeatCount="indefinite" />
       <animate attributeName="ry" values="7;8;7" dur="2s" repeatCount="indefinite" />
     </ellipse>
   </defs>
   
   <g id="flower">
     <animateTransform 
       attributeName="transform"
       attributeType="XML"
       type="rotate"
       from="0 50 50"
       to="360 50 50"
       dur="20s"
       repeatCount="indefinite" />
     
     <use href="#petal" transform="rotate(0 50 50)">
       <animate attributeName="opacity" values="0;1;1" dur="3s" begin="0s" repeatCount="indefinite" />
     </use>
     <use href="#petal" transform="rotate(45 50 50)">
       <animate attributeName="opacity" values="0;1;1" dur="3s" begin="0.4s" repeatCount="indefinite" />
     </use>
     <use href="#petal" transform="rotate(90 50 50)">
       <animate attributeName="opacity" values="0;1;1" dur="3s" begin="0.8s" repeatCount="indefinite" />
     </use>
     <use href="#petal" transform="rotate(135 50 50)">
       <animate attributeName="opacity" values="0;1;1" dur="3s" begin="1.2s" repeatCount="indefinite" />
     </use>
     <use href="#petal" transform="rotate(180 50 50)">
       <animate attributeName="opacity" values="0;1;1" dur="3s" begin="1.6s" repeatCount="indefinite" />
     </use>
     <use href="#petal" transform="rotate(225 50 50)">
       <animate attributeName="opacity" values="0;1;1" dur="3s" begin="2.0s" repeatCount="indefinite" />
     </use>
     <use href="#petal" transform="rotate(270 50 50)">
       <animate attributeName="opacity" values="0;1;1" dur="3s" begin="2.4s" repeatCount="indefinite" />
     </use>
     <use href="#petal" transform="rotate(315 50 50)">
       <animate attributeName="opacity" values="0;1;1" dur="3s" begin="2.8s" repeatCount="indefinite" />
     </use>
   </g>
</svg>